.mw_iphone{
  .Content{
    background: none;
    padding-top: 0;
    a {
      color: $color5;
    }
    .SubCategoryList, .SubBrandList {
      margin-top: 20px;
      background: #EEF5F9;
      ul{
        list-style: none;
        margin-left: 0;
        li {
          margin-bottom: 4px;
          padding: 10px 30px;
          background: image-url('SubCategory.gif') no-repeat 8px center;
        }
      }
    }
    .SortBox{
      background: #812600;
      border: 1px solid #5f0f02;
      font-weight: bold;
      padding: 12px 3px 9px 10px;
      margin: 0;
      color: $background4;
      background: image-url("ok.png") no-repeat 95% center #812600;
      //@extend .sprites-ok;
      border-radius: $border_radius;
      select{
        background: none;
        border: none;
        color: $background4;
        font-size: 14px;
        vertical-align: middle;
        margin-left: 5px;
        margin-top: 0px;
        padding-top: 0px;
        text-align: right;
        option{
          text-align: right;
        }
      }
    }
  }
  .Left{
    background: image-url("content_top.png") repeat-x 0 0;
    padding-top: 20px;
    > h2{
      margin-bottom: 15px;
    }
    .ShopByPrice, .BrandList {
      h2 {
        background: #812600;
        &:before {
          margin-top: -7px;
          margin-left: -20px;
          content: "";
          top: 50%;
          position: absolute;
        }
        > .mw_indicator {
          float: right;

        }
        border: 1px solid #5f0f02;
        font-size: 14px;
        padding: 11px 10px 10px;
        margin: 0;
        color: $background4;
        border-radius: $border_radius;
        &[data-ur-state="disabled"]{
          > .mw_indicator {
            @extend .sprites-plus;
          }
        }
        &[data-ur-state="enabled"]{
          > .mw_indicator {
            @extend .sprites-minus;
          }
          border-radius: 5px 5px 0 0;
        }
      }
      div{
        ul{
          padding: 2px 0 0;
          background-color: #F5F2E1;
          border-left: 1px solid #5f0f02;
          border-right: 1px solid #5f0f02;
          border-bottom: 1px solid #5f0f02;
          border-radius: 0 0 5px 5px;
          overflow: hidden;
          li{
            display: block;
            width: 100%;
            border-bottom: 1px solid #5f0f02;
            a{
              display: block;
              padding: 11px 20px 9px;
              color: #3D211A;
              background: image-url("menu_go.png") no-repeat 91% center;
              font-size: 13px;
              font-weight: bold;
            }
            &:last-child{
              padding-bottom: 3px;
              overflow: hidden;
              border-bottom: 0px none #000;
            }
          }         
        }       
      }
    }
  }
}