#Header {
  border-top: 1px solid black;
  min-height: 96px;
  #Logo {   
    @include clearfix();
    @include grad1;
    #LogoContainer{
      float: left;
      h1 {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 17px;
        a {
          @include mw_h1;
        }
      }
    } 
    #TopMenu{
      ul {
        margin-top: 0px;
        li {
          float: right;
          margin-top: -1px;
          margin-right: 10px;
        }
        .First {
          a {
            @extend .buttons-user;
            display: block;
            text-indent: -9999px;
          }
        }
        .CartLink {
          a {
            @extend .buttons-cart;
            display: block;
            text-indent: -9999px;
            span{
              display: none;
            }
          }
        }
      }     
    } 
  }
  .mw_header_bottom {
    @include bar1;
    clear: both;
    padding: 8px 10px;
    min-height: 33px;
    *{
      vertical-align: top;
    }
    .mw_search{
      text-align: left;
      display: inline-block;
      width: 75%;
      form{
        // background: image-url("form_bg.png") no-repeat 0 0;
        // width: 179px;
        height: 21px;
        padding: 0;
        position: relative;
        input[type='text']{
          @include box-shadow(inset 1px 1px 2px #666);
          border: 1px solid black;
          background-color: #f1f0f0;
          font-size: 13px;
          padding: 4px;
          height: 23px;
          margin: 0;
          width: 100%;
          display: block;
        }
        input[type='image']{
          width: 40px;
          height: 33px;
          opacity: 0;
        }
        .mw_search_btn {
          height: 33px;
          position: absolute;
          top: 0;
          right: -13px;
        }
      }
    }
    .mw_menu_btn{
      margin-left: 6px;
      float: right;
      display: block;
      width: 60px;
      height: 33px;
      // background: image-url("menu.png") no-repeat 0 0;
      @extend .buttons-menu;
      text-indent: -9999px;
      &[data-ur-state="enabled"] span{
        // background: image-url("menu-on.png") no-repeat 0 0;
        @extend .buttons-menu-on;
      }
    }
  }
  #Menu{
    ul{
      padding: 2px 0 0;
      background-color: #F5F2E1;
      @include clearfix();
      li{
        display: block;
        width: 100%;
        border-bottom: 1px solid #C0BCA3;
        a{
          display: block;
          padding: 11px 10px 10px;
          color: #3D211A;
          text-shadow: 1px 1px 0px white;
          background: image-url("menu_go.png") no-repeat 95% center;
        }
      }
    }
    #SideCategoryList{
      h2{
        background-color: #812600;
        border-bottom: 1px solid #5A0D00;
        border-top: 1px solid #5A0D00;
        font-size: 15px;
        padding: 11px 10px 10px;
        margin: 0;
        color: $background4;
        text-shadow: 1px 1px 0px #411B07;
      }
      ul{
        background-color: #F5F2E1;  
        a{
          padding: 10px 10px 9px;
        }
      }     
    }   
  }
  .Block{
    margin-bottom: 0px;
  }
  .mw_search_btn {
    .ex_button {
      opacity: 0;

    }
  }
}